# Ignore everything:
**

# Allow files and directories:
!/LICENSE
!/Dockerfile

!/*.md

!/Makefile

!/friendgroup.pl
!/friendnet.pl
!/friendrated.pl
!/likeminded.pl
!/recentrated.pl
!/savreviews.pl
!/search.pl
!/similarauth.pl

!/lib/*.pm
!/lib/*.pl
!/lib/*.pod

!/list-in/*.lst
# "list-out" will be created empty

!/help/*.md
!/help/img/**

!/t/*.t
!/t/*.md
!/t/config.pl-example


# REMOVE LATER AGAIN!
#!/t/config.pl


