*~
*.bak
*.tmp
*.csv
*.swp
*.xml
*.html
*.log
*.tar.gz
*.zip
*.sh
*.xcf
*.secret
*.token
lib/local/*
t/config.pl
.build
.obsolete
TODO.txt
cve
lib/Goodgrief*
staff*
savreviews-*.txt
revs-*.txt
q
export.pl
cron.daily/goodratings.sh
list-out/recentrated*

