*~
*.bak
*.tmp
*.csv
*.swp
*.xml
*.html
*.log
*.tar.gz
*.zip
*.sh
*.xcf
*.secret
*.token
t/config.pl
.build
.obsolete
test*
TODO.txt
cve*
lib/Goodgrief*
staff*
savreviews-*.txt
revs-*.txt
q
export.pl

