/*

Stylesheets for all generated reports

Version: 2019-01-27 (Since 2019-01-18)


*/



/* ---------------------- All reports --------------------- */

body
{
	font-family: sans-serif;
}

table caption
{
	background-color: #ffffdd;
}

table + table
{
	margin-top: 5em;
}

nav
{
	font-weight: bold;
	line-height: 1.45em;
}

nav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: normal;
}

nav li:before
{
	content: "\2193\0020";
}


/* --------------------- likeminded.pl -------------------- */

.friendrated #commonbooks
{
	margin-top: 2em;
}



/* --------------------- likeminded.pl -------------------- */

.likeminded td
{ 
	vertical-align: top; 
}


.likeminded td:nth-child(1) 
{
	text-align: center; 
}

.likeminded td:nth-child(2)
{
	width: 17em;
}

.likeminded td:nth-child(2) a
{
	display: inline-block;
	width: 100%;
	padding: 0.25em;
	box-sizing: border-box;
	word-break: break-all;
}

.likeminded td:nth-child(2) a:hover
{
	background-color: #0000FF;
	color: #fff;	
}

.likeminded td:nth-child(2) a:visited:hover
{
	background-color: #551A9B;
	color: #fff;
}

.likeminded td:nth-child(2) a:hover img
{
	filter: grayscale(100%);
}

.likeminded td:nth-child(2) a img
{
	width: 80px;
	height: 95px;
	word-break: break-all;
	float: left;
	margin: 0 0.5em 0 0;
}

.likeminded td:nth-child(2) a small
{
	font-size: 8pt;
}

.likeminded td:nth-child(3) div 
{
	background-color: #eeeddf;
	float: left; 
	display: inline-block; 
	height: 95px; 
	max-width: 50px; 
	font-size: 8pt; 
	text-align: center; 
	margin: 0.25em;
}



/* ----------------------- search.pl ---------------------- */

.search th 
{
	text-transform: capitalize 
}

.search td img
{
	float: left;
	margin-right: 1em;
}






