#!/usr/bin/env bash
#
# Reports recent book ratings to some Goodreads members
#
# Put me to: /etc/cron.daily
#

readonly MAILFROM="adminuser@gmail.com"
readonly SCRIPT="/path/to/recentrated.pl"
readonly DB_DIR="/var/db/good"
readonly MAILERS=(
		[0]="ifne /usr/sbin/sendmail -t"
		[1]="ifne ip netns exec NS_PRIVATE /usr/sbin/sendmail -t"
		[9]="cat" )
		# 9 for debugging, CSV restored



# Script might not be present at the moment as its volume is still 
# unmounted or encrypted. We retry every 5 minutes for one hour:
#
until [ -e "${SCRIPT}" ]
do
	/bin/sleep 5m
	let retry++
	if [ $retry -eq 12 ]
	then
		(>&2 echo "FATAL: Missing ${SCRIPT}")
		exit 1
	fi
done



chk()
{
	  gooduser="${1}" 
	 goodshelf="${2}" 
	    mailto="${3}"
	  mailerid="${4:-0}"
	      opts=${5}
	    mailer="${MAILERS[$mailerid]}"
	   csvname="${gooduser}-${goodshelf}.csv"
	   csvpath="${DB_DIR}/${csvname}"
	csvbakpath="${DB_DIR}/${csvname}.recover"
	
	if [ -e "${csvbakpath}" ]
	then
		# Batch, script or mail auth failed last time. Recover and retry this time.
		# Mailtext in ~/dead.letter
		cp --preserve --force "${csvbakpath}" "${csvpath}" || exit 1
	else
		if [ -e "${csvpath}" ]
		then
			cp --preserve --force "${csvpath}" "${csvbakpath}" || exit 1
		fi
	fi
	( "${SCRIPT}" ${opts} "${gooduser}" "${goodshelf}" "${mailto}" "${MAILFROM}" | ${mailer} ) \
		&& [ "$mailerid" != "9" ]     \
		&& rm --force "${csvbakpath}"
}



#==========================================================================================================================
#    USER      SHELF                     MAILTO                  MAILER  OPTS  REALNAME              SINCE     BOOKS@04/10
#==========================================================================================================================
chk  12345678  "%E3%85%A1watch-ratings"  "${MAILFROM}"           0             # me                            123
chk    345678  "watch-ratings"           example1@gmail.com      0             # Example 1           18/01/12    3
chk   2345678  "de-mooisten"             example2@gmx.net        0             # Example 2           18/11/14   23
chk      5678  "wishlist-to-buy"         example3@yahoo.com      0       -t    # Example 3           18/06/11  123



